*

!.gitignore
!LICENSE

!appdaemon/

!custom_components/
!custom_components/appdaemon_app/
!custom_components/appdaemon_app/*
__pycache__

!configuration.yaml
!customize.yaml
!readme.txt
!ui-lovelace.yaml
!light_profiles.csv
!light_profile_temps.csv
!recorder.yaml
